.header {
  padding: 10px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.header p{
  font-size: 18px;  
}

.topnav {
  background-color: darkgrey;
}

.topnav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: black;
}

footer{
    text-align: center; 
    padding-top: 50px;
    padding-bottom: 10px;
}





.intro{
    margin-top: 20px;
    padding: 20px 0px 20px 30px;
    background-image: url(top.png);
    background-size: 100%;
}

.intro p{
    font-size: 20px;
}

.list{
    padding: 0px 0px 20px 30px;
}

.list dt{
    font-size: 20px;
    padding-left: 30px;
    padding-bottom: 5px;  
}

.list dd{
    font-size: 18px; 
    padding-left: 45px;
    padding-bottom: 5px;   
}

.order{
    padding: 0px 0px 20px 30px;
}